# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments & Package Managers
venv/
.venv/
.venv/**
env/
env/**
ENV/
ENV/**
env.bak/
venv.bak/
*venv*/
*_env*/
*env/
virtualenv/
.virtualenv/
pyvenv.cfg
pip-selfcheck.json
.Python

# Pytest & caches
.pytest_cache/
.mypy_cache/

# Environment variables & secrets
.env
.env.*
!.env.example

# IDEs and Code Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Operating System files
.DS_Store
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini
Desktop.ini

# Application generated data & runtime folders
uploads/
outputs/
tiles/
pds4_data/
temp/
tmp/

# Large satellite datasets & archives
*.zip
*.tar
*.tar.gz
*.gz
*.img
*.IMG
*.npy
*.npz

# AI model weights & checkpoints
*.pth
*.pt
*.onnx
*.safetensors
*.bin

# Log files
*.log

# Dataset-specific extracted files
ch2_ohr_ncp_20260103T1005176450_d_img_d18.img
ch2_ohr_ncp_20260103T1005176450_d_img_d18.xml
ch2_ohr_ncp_20260103T1005176450_d_img_d18/miscellaneous/readme.txt
ch2_ohr_ncp_20260103T1005176450_d_img_d18/miscellaneous/calibrated/20260103/ch2_ohr_ncp_20260103T1005176450_d_img_d18.spm
ch2_ohr_ncp_20260103T1005176450_d_img_d18/miscellaneous/calibrated/20260103/ch2_ohr_ncp_20260103T1005176450_d_img_d18.oath
ch2_ohr_ncp_20260103T1005176450_d_img_d18/miscellaneous/calibrated/20260103/ch2_ohr_ncp_20260103T1005176450_d_img_d18.oat
ch2_ohr_ncp_20260103T1005176450_d_img_d18/miscellaneous/calibrated/20260103/ch2_ohr_ncp_20260103T1005176450_d_img_d18.lbr
ch2_ohr_ncp_20260103T1005176450_d_img_d18/geometry/calibrated/20260103/ch2_ohr_ncp_20260103T1005176450_g_grd_d18.xml
ch2_ohr_ncp_20260103T1005176450_d_img_d18/geometry/calibrated/20260103/ch2_ohr_ncp_20260103T1005176450_g_grd_d18.csv
ch2_ohr_ncp_20260103T1005176450_d_img_d18/browse/calibrated/20260103/ch2_ohr_ncp_20260103T1005176450_b_brw_d18.xml
ch2_ohr_ncp_20260103T1005176450_d_img_d18/browse/calibrated/20260103/ch2_ohr_ncp_20260103T1005176450_b_brw_d18.png
